# Add an "alert" alias for long running commands. Use like so:
# sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# some more ls aliases
alias ll='ls -alF --color=auto'
alias la='ls -A'
alias l='ls -CF'

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias dev="cd $HOME/Develop"

alias c="clear"
alias cleanup="find . -type f -name '*DS_Store' -ls -delete"
alias sa="source $HOME/.zshrc"

# Git

alias gita="git add"
alias gitcom="git commit"
alias gitp="git push"
alias gits="git status"
alias gitb="git branch"
alias gitc="git checkout"
alias gitm="git merge --no-ff"
alias gitt="git tag -a"
alias gitrst="git pull"
